project-2/pro2.json
{
  "name": "Automation 2",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.genderize.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.Name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "8d6c5a52-eb35-4f17-97ad-7400e2d37df9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.agify.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "71295294-2790-4d86-9d2c-0881ce830bdf",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://api.nationalize.io",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "ce8c4f4e-a0d3-4767-b355-bce07b81fb5a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "18d9c247-94df-4085-8a89-a3448a57480e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AATe4UNcVuKArWN11LMrI-EyYDgGmsi3CpnMx9Dk2s8",
          "mode": "list",
          "cachedResultName": "Customer_Detail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AATe4UNcVuKArWN11LMrI-EyYDgGmsi3CpnMx9Dk2s8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AATe4UNcVuKArWN11LMrI-EyYDgGmsi3CpnMx9Dk2s8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $('Get row(s) in sheet').item.json.Id }}",
            "Name": "={{ $('Get row(s) in sheet').item.json.Name }}",
            "Number": "={{ $('Get row(s) in sheet').item.json.Number }}",
            "Gender": "={{ $('HTTP Request').item.json.gender }}",
            "Age": "={{ $('HTTP Request1').item.json.age }}",
            "Country": "={{ $json.country[0].country_id }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "fb19d15d-e891-46d3-aa75-0de4cb18b63d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KW9mec3NdNWiZf1h",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AATe4UNcVuKArWN11LMrI-EyYDgGmsi3CpnMx9Dk2s8",
          "mode": "list",
          "cachedResultName": "Customer_Detail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AATe4UNcVuKArWN11LMrI-EyYDgGmsi3CpnMx9Dk2s8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AATe4UNcVuKArWN11LMrI-EyYDgGmsi3CpnMx9Dk2s8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "4f997152-1247-4cbd-96f5-7b9ae1d19ddd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KW9mec3NdNWiZf1h",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jonsnow81951@gmail.com",
        "subject": "House Inquary",
        "emailType": "text",
        "message": "=Hello  {{ $json.Name }} ,\n\nwelcom to our agency we will contact you imediately on your number {{ $json.Number }} .",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "f3901756-24b8-4652-875f-8d9ecbcb437d",
      "name": "Send a message",
      "webhookId": "90ff40f2-59a7-4d33-b432-3ce7c6bc56d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "a0rzn47buENBH9fT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2c917e4e-5dc2-4d14-a65c-b463a6a7b32d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b66c59c74220cc1e59e5f6880a2547a8c2eecdcce07fc723d44c1e833f8b94e"
  },
  "id": "czsN5zn0LGlUGxG1",
  "tags": []
}
